
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    
  }

  a {
    text-decoration: none;
    color: var(--primary-color);

  }

  :root {
    --primary-color: black;
    --secondary-color:#989898b4;
    --red-color: #bf0019;
    --orange-color: #ff6000;
    --blue-background: #170453;
    --border: 2px solid var(--blue-color);
    --spacing: 15px;
  }
body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 50px 50px 1fr 200px 400px;
  height: 100vh;
  font-family:'open sans';
}

  header {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 180px 220px 200px 1fr 150px 150px;
    grid-template-rows: 60px;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }

  .logoprincipal {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    padding: 20px;
  }
header a {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

header a p {
  padding: 6px;
}

header a:hover {
  background-color: rgba(128, 128, 128, 0.155);
} 

  #hamburguesa {
    grid-column: 2/3;
    width: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px
  }

  header .checkbox {
    grid-column: 3/5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  
  header .checkbox select {
    grid-column: 3/4;
    padding: 16px;
    width: 100%;  
    max-width: 180px;
    border: grey solid 0.8px;
    letter-spacing: 0.7px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  header .checkbox input {
    grid-column: 4/5;
    padding: 17px;
    min-width: 100px;
    width: 100%;
    border: grey solid 0.8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  header .user {
    grid-column: 5/6;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
    row-gap: 10px;
    padding: 10px;
  }

  header .user:hover{
    background-color: rgba(128, 128, 128, 0.155);
  }

  header .user img {
    width: 24px;
    
  }

  header .cesta {
    grid-column: 6/7;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin: 5px;
    padding: 10px;
  }

  header .cesta:hover {
    background-color: rgba(128, 128, 128, 0.155);
  }

  header .cesta img {
    width: 24px;
   
  }

nav ul {
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing);
  list-style: none;
  gap: 20px;
  border: grey solid 0.8px;
  border-left: none;
  border-right: none;
  font-size: 14px;
  padding-right: 50px;
  letter-spacing: 1px;
}

nav ul li:hover {
  background-color: rgba(128, 128, 128, 0.155);  
}
 
body p {
  display: flex;
  grid-row: 3/4;
  width: 100%;
  padding: var(--spacing);
  align-items: center;
  align-content: center;
}

body main {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 300px;

}

body .ofertas {
  background-color: var(--blue-background);
  padding-left: 40px;
  padding-right: 40px;
  grid-row: 1/2;
  grid-column: 1/7;
  
}
body div a img{
  display: grid;
  grid-row: 1/2;
  grid-row: 1/7;
  width: 100%;
  height: 100%;
  border-radius: 20px; 
}

.products ul{
  display: grid;
  grid-row: 2/3;
  grid-column: 1/7;
  grid-template-columns: repeat(6,1fr) ;
  grid-template-rows: repeat(2,280px) ;
  background-color: var(--blue-background);
  padding: 30px;
  list-style: none;
}

.products ul li{
  border-radius: 16px;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.products ul li img {
  display: grid;
  height: 80%;
  border-radius: 20px;
}

footer {
  grid-column: 1/7;
  grid-row: 4/6;
}
.service {
  display: flex;
  grid-column: 1/7;
  grid-row: 4/5;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background-color: rgb(208, 203, 203);
  padding: 70px;
}

 .service a{
  display: flex;
  max-width: 300px;
  gap: 15px;
  padding: 5px;
  align-items: center;
 }

