@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: var(--primary-color);

  }

  :root {
    --primary-color: black;
    --secondary-color:#989898b4;
    --red-color: #bf0019;
    --orange-color: #ff6000;
    --blue-background: #170453;
    --border: 2px solid var(--blue-color);
    --spacing: 15px;
  }
body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 50px 1fr 200px;
  height: 100vh;
}

  header {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 180px 200px 200px 1fr 150px 150px;
    grid-template-rows: 80px;
    width: 100%;
    padding: var(--spacing);
  }

  .logoprincipal {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    padding: 20px;
  }
header a {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
  #hamburguesa {
    grid-column: 2/3;
    width: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 30px
  }

  header .checkbox {
    grid-column: 3/5;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: flex-start;
  }

  
  header .checkbox select {
    grid-column: 3/4;
    padding: 16px;
    width: 100%;  
    min-width: 180px;
    border: grey solid 0.8px;
    letter-spacing: 0.7px;
  }
  header .checkbox input {
    grid-column: 4/5;
    padding: 17px;
    width:100%;
    border: grey solid 0.8px;
  }

  header .user {
    grid-column: 5/6;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
  }

  header .user:hover{
    background-color: rgba(128, 128, 128, 0.155);
  }

  header .user img {
    width: 24px;
  }

  header .cesta {
    grid-column: 6/7;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
  }

  header .cesta:hover {
    background-color: rgba(128, 128, 128, 0.155);
  }

  header .cesta img {
    width: 24px;
  }

nav ul {
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing);
  list-style: none;
  gap: 20px;
  border: grey solid 0.8px;
  border-left: none;
  border-right: none;
  font-size: 14px;
  padding-right: 50px;
}

nav ul li:hover {
  background-color: rgba(128, 128, 128, 0.155);  
}
 
body p {
  display: flex;
  grid-row: 3/4;
  width: 100%;
  padding: 18px;
  align-items: center;
  align-content: center;
}

body main {
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  grid-template-rows: 300px 250px 250px 300px;
}

body .ofertas {
  background-color: var(--blue-background);
  padding-left: 40px;
  padding-right: 40px;
  grid-row: 1/2;
  grid-column: 1/7;
  
}
body div a img{
  display: grid;
  grid-row: 1/2;
  grid-row: 1/7;
  width: 100%;
  height: 100%;
  border-radius: 20px; 
}

.products {
  display: grid;
  grid-row: 2/4;
  grid-column: 1/7;
  background-color: var(--blue-background);
}


body .object1{
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
  width: 100%;
}



